@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

@font-face {
  font-family: 'Aeonik';
  src: url('../fonts/aeonik-bold.woff2') format('woff2'),
    url('../fonts/aeonik-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../fonts/aeonik-regular.woff2') format('woff2'),
    url('../fonts/aeonik-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../fonts/aeonik-light.woff2') format('woff2'),
    url('../fonts/aeonik-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apoc';
  src: url('../fonts/apoc-bold.woff2') format('woff2'),
    url('../fonts/apoc-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apoc';
  src: url('../fonts/apoc-regular.woff2') format('woff2'),
    url('../fonts/apoc-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apoc';
  src: url('../fonts/apoc-light.woff2') format('woff2'),
    url('../fonts/apoc-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: initial;
}

body {
  font-family: 'Aeonik';
  background: #f5f4f5;
  color: #282829;
  font-style: normal;
  font-weight: 400;
  max-width: 100vw;
  transition: background 0.6s ease-out, color 0.6s ease-out;
}

body.hide_header .header {
  transform: translateY(-100%);
}

body.scrolled .header {
  background: #f5f4f5;
}

@media (min-width: 1024px) {
  body.scrolled .header_container {
    padding: 10px 0;
  }

  body.scrolled .header_logo svg {
    height: 38px;
  }
}

.font_apoc {
  font-family: 'Apoc';
}

.font_aeonik {
  font-family: 'Aeonik';
}
